/**
 * Reset some basic elements
 */


/**
   * Basic styling
   */

body {
    font: 400 "Bitter", "Times New Roman", "FangSong", "仿宋", STFangSong, "华文仿宋", serif;
    color: #111;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0 5%;
}


/**
   * Set `margin-bottom` to maintain vertical rhythm
   */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
vertical-rhythm {
    margin-bottom: 30px;
}


/**
   * `main` element
   */

main {
    display: block;
    /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
   * Divider
   */

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background: -webkit-linear-gradient( left, transparent, rgba(0, 0, 0, 0.5), transparent);
    background: linear-gradient( left, transparent, rgba(0, 0, 0, 0.5), transparent);
}


/**
   * Images
   */

img {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px 2px;
    border-radius: 3px;
    max-width: 100%;
    vertical-align: middle;
}


/**
   * Figures
   */

figure>img {
    display: block;
}

figcaption {
    font-size: 18px;
}


/**
   * Lists
   */

ul,
ol {
    margin-left: 30px;
}

li ul,
li ol {
    margin-bottom: 0;
}


/**
   * Headings
   */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    font-weight: 400;
}


/**
   * Links
   */

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/**
   * Blockquotes
   */

blockquote {
    color: #828282;
    border-left: 4px solid;
    padding-left: 30px;
    letter-spacing: -1px;
    font-style: italic;
}

blockquote :last-child {
    margin-bottom: 0;
}


/**
   * Code formatting
   */

pre,
code {
    border: 1px solid;
    border-radius: 3px;
}

code {
    padding: 1px 1px;
}

pre {
    padding: 2px 2px;
    overflow-x: auto;
}

pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 16px;
}

.light {
    font-weight: 300
}

.footer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: darkslategray;
    text-align: center;
}