@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css);

html {
 background-color:#fefefe
}

body {
 color:#454545;
 font-size:16px;
 margin:2em auto;
 max-width:800px;
 padding:1em;
 line-height:1.4;
 text-align:left
}

a {
 color:#f22f27
}

pre code {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}

p code {
  color: #c7264e;
}

blockquote {
 color:#456;
 margin-left:0;
 margin-top:2em;
 margin-bottom:2em
}

blockquote p {
 float:left;
 margin-left:1rem;
 padding-top:1rem
}

blockquote:before {
 color:#666;
 content:open-quote;
 font-size:2.2em;
 font-weight:600;
 float:left;
 margin-top:0;
 margin-right:.2rem;
 width:1.2rem
}

blockquote:after {
 content:"";
 display:block;
 clear:both
}

table {
    border-collapse: collapse;
    margin: 8px
}

thead th,
thead td {
    padding: 4px 4px;
    border-bottom: 1px solid black;
}

tbody th,
tbody td {
    padding: 4px 4px;
    border-top: 1px solid gainsboro;
}

li {
    margin-bottom: 4px;
    margin-top: 4px;
}

img {
    max-width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
}

