body {
    font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", 'Noto Sans SC', "Roboto", "Ubuntu", serif;
    background-color: #FDF6E3
}

h1,
h2 {
    font-weight: 500;
}

p {
    font-size: 16px;
    line-height: 170%;
}

img {
    max-width: 100%;
}

.light {
    font-weight: 300
}

p code {
    overflow: auto;
    border-style: solid;
    border-color: #e0dfcc;
    border-radius: 3px;
    padding: 2px 2px;
    margin: 2px 2px;
}

pre code {
    border-color: #e0dfcc;
    border-style: solid;
    border-radius: 6px;
    padding: 8px 8px;
    margin: 4px 4px;
}

table {
    border-collapse: collapse;
    margin: 8px
}

thead th,
thead td {
    padding: 4px 4px;
    border-bottom: 1px solid black;
}

tbody th,
tbody td {
    padding: 4px 4px;
    border-top: 1px solid gainsboro;
}

pre code {
    font-size: 14px
}

blockquote {
    background-color: #f5f2f0;
    padding: 8px 8px;
    margin: 4px 4px;
    border-radius: 6px;
    border-color: #e0dfcc;
    border-style: solid;
}

.w3-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px
}

.w3-container {
    padding: 0.01em 16px
}