<!DOCTYPE html>
<html>

<head> 
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}{{ title }}{% endblock %}</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/github.min.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900&display=swap" rel="stylesheet">
{% endblock %}
<head>

<body>
{% block body %}

    <div class="content">
    {% block content %}
    {{content}}
    {% endblock %}
    </div>

    <div class="footer">
    {% block footer %}
    &copy; Copyright {{ copy_right_year }} by <a href={{ domain }}>{{ user }}</a>.
    {% endblock %}
    </div>

{% endblock %}
</body>

{% block script%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },    
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>

{% endblock%}
</html>