{% extends "base.j2" %}
{% block content %}
    <p>
        <a href="/">Home</a>
    </p>
    
    <h1>{{title}}</h1>
    <div class="light">作者：{{author}}</div>
    <div class="light">日期：{{date}}</div>

    {{ super() }}

{% endblock %}