<!DOCTYPE html>
<html>
<head> 
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{{ title }}{% endblock %}</title>
<link rel="stylesheet" href="/whitey.css">
<link rel="icon" href="/favicon.svg">
{% endblock %}
<head>

<body>
{% block body %}
<div class="content">
{% block content %}
{{__content}}
{% endblock %}
</div>
{% endblock %}
</body>

{% block script%}
{% endblock%}
</html>
