{% extends "post.j2" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/github.css">
{% endblock %}

{% block script%}
{{ super() }}
<script src="/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock%}
