<!DOCTYPE html>
<html>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{> css }}
<body>
    
        <div class="content" >

            {{{content}}}
            
            <h2>
                文章
            </h2>
            {{#articles}}
            <li>{{ date }} <a href={{url}}> {{ title }}</a></li>
            {{/articles}}

        </div>
    
</body>
{{> script }}
</html>